<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head',{styles: '/static/css/editProduct.css', titulo:'Edición de producto'})%>
<script src="/static/js/validacionesCreateProduct.js"></script>

<body>
    <%- include('./partials/header',{user}) %>
    <main class="main-edit">
        <div class="titulo-edit">
            <h3>Editar producto</h3>
        </div>

        <div class="form-edit">
            <form class="form-editProduct" action="/products/<%- product.id %>" method="POST" enctype="multipart/form-data">
                <div class="div-formEdit">
                    <div>
                        <label for="producto" class="italics">Nombre del producto</label>
                    </div>
                    <input type="text" placeholder="Nombre" name="producto" id="nombre" value="<%- product.name %>">
                    <%if (locals.errors && errors.producto){%>
                        <p class="error" style="color:#ed9191"><%= errors.producto.msg %></p>
                    <%}%>
                </div>

                <div class="div-formEdit">
                    <label for="descripcion" class="italics">Descripción</label>
                    <br>
                    <textarea name="descripcion" id="descripcion" cols="30" rows="3" >
                        <%- product.description %>
                    </textarea>
                    <%if (locals.errors && errors.descripcion){%>
                        <p class="error" style="color:#ed9191"><%= errors.descripcion.msg %></p>
                    <%}%>
                </div>

                <div class="div-formEdit">
                    <label for="perfil" class="italics">Imagen</label>
                    <br>
                    <input type="file" id="foto" name="perfil" accept="image/*">
                </div>

                <div class="div-formEdit">
                    <label for="categoria" class="italics">Categoría</label>
                    <br>
                    <select name="categoria" id="categoria">
                        <option value="">Selecciona una categoría</option>
                        <option value="1">Guitarras</option>
                        <option value="2">Accesorios</option>
                        <option value="3">Baterías</option>
                        <option value="4">Partes</option>
                        <option value="5">Pianos</option>
                        <option value="6">Bajos</option>
                        <option value="7">Otros instrumentos</option>
                    </select>
                </div>


                <div class="div-formEdit">
                    <label for="marca" class="italics">Marca</label>
                    <br>
                    <select name="marca" id="marca">
                        <option value="">Selecciona una marca</option>
                        <% brands.forEach((brand) => { %>
                        <option value="<%- brand.id %>"><%- brand.name %></option>
                        <% }) %>
                    </select>
                </div>

                <div class="div-formEdit">
                    <p class="italics">Colores</p>
                    <div class="check-colores">
                        <select name="color" id="color">
                            <option value="">Selecciona un color</option>
                            <% colors.forEach((color) => { %>
                                <option value="<%- color.id %>"><%- color.name %></option>
                            <% }) %>
                        </select>

                    </div>
                </div>

                <div class="div-formEdit">
                    <label for="precio" class="italics">Precio</label>
                    <br>
                    <input type="number" value="<%=locals.old && old.price? old.price : product.price%>" placeholder="0.00" name="precio" id="precio" min="0" step="0.01" >
                </div>

                <div class="div-formEdit">
                    <label for="descuento" class="italics">Descuento</label>
                    <br>
                    <input type="number"  placeholder="0" name="descuento" id="descuento" min="0" step="1" value="<%=locals.old && old.descuento? old.descuento : product.discount %>">
            <%if (locals.errors && errors.descuento){%>
            <p class="error" style="color:#ed9191"><%= errors.descuento.msg %></p>
            <%}%>
                </div>

                <div class="div-formEdit">
                    <label for="stock" class="italics">Stock</label>
                    <br>
                    <input type="number" placeholder="0" name="stock" id="stock" min="0" step="1" value="<%=locals.old && old.stock? old.stock : product.stock %>">
            <%if (locals.errors && errors.stock){%>
            <p class="error" style="color:#ed9191"><%= errors.stock.msg %></p>
            <%}%>
                </div>

                <div class="botones-edit">
                    <button type="submit" class="boton">Guardar</button>
                    <button type="reset" class="boton">Borrar</button>
                </div>

            </form>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>