<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head',{styles: 'static/css/editProduct.css', titulo:'Edición de producto'})%>
<script src="/static/js/validacionesEditProduct.js"></script>
<body>
<%- include('./partials/header') %>
    <main class="main-edit">
        <div class="titulo-edit">
            <h3>Editar producto</h3>
        </div>

        <div class="form-edit">
            <form class="form-editProduct" action="/" method="">
                <div class="div-formEdit">
                    <div>
                        <label for="producto" class="italics">Nombre del producto</label>
                    </div>                    
                    <input type="text" placeholder="Nombre" name="producto" id="nombre" value="<%- product.name %>" required>
                </div>
    
                <div class="div-formEdit">
                    <label for="descripcion" class="italics">Descripción</label>
                    <br>
                    <textarea name="descripcion" id="descripcion" cols="30" rows="3" required>
                        <%- product.description %>
                    </textarea>
                </div>
    
                <div class="div-formEdit">
                    <label for="perfil" class="italics">Imagen</label>
                    <br>
                    <input type="file" id="foto" name="perfil" accept="image/*">
                </div>    
                
                <div class="div-formEdit">
                    <label for="categoria" class="italics">Categoría</label>
                    <br>
                    <select name="categoria" id="categoria">
                        <option value="1">Guitaras</option>
                        <option value="2">Bajos</option>
                        <option value="3">Baterías</option>
                        <option value="4">Otros instrumentos</option>
                        <option value="5">Partes</option>
                        <option value="6">Accesorios</option>
                    </select>
                </div>
                
                <div class="colores">
                    <p class="italics">Colores</p>
                    <div class="check-colores">
                        <div>
                            <label for="rojo">Rojo</label>
                            <input type="checkbox" name="rojo" value="rojo" id="rojo">
                        </div>
                        <div>
                            <label for="azul">Azul</label>
                            <input type="checkbox" name="azul" value="azul" id="azul">
                        </div>
                        <div>
                            <label for="verde">Verde</label>
                            <input type="checkbox" name="verde" value="verde" id="verde">
                        </div>
                        <div>
                            <label for="blanco">Blanco</label>
                            <input type="checkbox" name="blanco" value="blanco" id="blanco">
                        </div>
                        <div>
                            <label for="negro">Negro</label>
                            <input type="checkbox" name="negro" value="negro" id="negro">
                        </div>
                        <div>
                            <label for="otro">Otro</label>
                            <input type="checkbox" name="otro" value="otro" id="otro">
                        </div>
                    </div>
                </div>
                
                <div class="div-formEdit">
                    <label for="precio" class="italics">Precio</label>
                    <br>
                    <input type="number" placeholder="0.00" name="precio" id="precio" min="0" step="0.01" required>
                </div>

                <div class="botones-edit">
                    <button type="submit" class="boton">Guardar</button>
                    <button type="reset" class="boton">Borrar</button>
                </div>

            </form>
        </div>  
    </main>
<%- include('./partials/footer') %>
</body>
</html>