<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<script src="/static/js/validacionesLogin.js"></script>
<body>
    <%- include('./partials/header',{user}) %>
    <main class="login-register">
        <div class="full">
            <div class="izquierda">
                <form id= "formulario" action="/login" method="POST">
                    <h2>Inicia sesion</h2>
                    <input type="email" placeholder="Email de usuario" id="email" name="email"
                    value= "<%= locals.oldData ? oldData.email : null %>">
                    <p class="error" id="errorEmail"></p>
                    <% if (locals.errors && errors.email ) { %>
                        <p class="error" id="errorEmail"><%= errors.email.msg %>  </p>
                    <% } %>
                    <input type="password" placeholder="Contraseña" id="password" name="password">
                    <p class="error" id="errorPassword"></p>
                    <div id="divErrorPassword">
                        <% if (locals.errors && errors.password ) { %>
                            <p class="error" id="errorPasswordejs"><%= errors.password.msg %>  </p>
                        <% } %>
                    </div>                
                    <label><input type="checkbox" name="recordarme"> Recordarme </label><br>
                    <button id="submit" type="submit">Iniciar</button>
                </form>
            </div>
            <div class="derecha">
                <h2>¿Aun no tienes cuenta?</h2>
                <button onclick="location.href='/register'">Registrarse</button>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
    </body>
</html>