<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head',{styles: '../static/css/productDetail.css', titulo:'Detalle del producto'})%>
<body>
    <%- include('./partials/header',{user}) %>
    <main class="main-detail">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/">Categoría</a></li>
            <li>Producto</li>
          </ul>
        <h2><%- product.name %></h2>
        <div class="contenedor-detalle">
            <div class="contenedor-img-detalle">
                <img src="../static/images/products/<%= product.image %>" alt="<%= product.name %>" class="detail-img">
            </div>
            <div class="detalles">
                <div class="descripcion-boton">
                    <h3>Descripción del producto</h3>
                    <button class="add-carrito">Agregar a carrito</button>
                </div>
                <div class="marca-precio">
                    <h4>Marca: <%= product.brand.name %></h4>
                    <h4>Precio: $ <%= product.price %></h4>
                </div>
                <div class="parr-descripcion">
                    <%= product.description %>
                </div>
            </div>
            <% if (admin == 1) { %>
                <form action="/products/<%= product.id %>/edit " method="get">
                    <button class="add-carrito" type="submit">Editar</button>
                </form>
            <% } %>
        </div>
    </main>
<%- include('./partials/footer') %>
</body>
</html>
